/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

 header, main{
    margin: 10px 20px 0 ;
}

/* shared style */

.navbar, .display-flex, .banner{
    display: flex;
}

.btn-primary{
    color: white;
    background-color: orange;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
}

.navbar, .banner, .banner-text, .banner-img, .box-container {
    /* border: 2px solid orange; */
}

/* colors */

.orange{
    color: orange;
}
.aqua{
    color: aqua;
}
.aquamarine{
    color: aquamarine;
}
.blueviolet{
    color: blueviolet;
}
.blue{
    color: rgba(0, 162, 255, 0.61);
}
.black{
    color: black;
}

/* nav style */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.logo-section{
    align-items: center;
}

.list-items{
    justify-content: space-between;
    /* border: 2px dashed black; */
    width: 150%;
    /* height: 100%; */
}

.list-item{
    list-style: none;
}
 
.link{
    text-decoration: none;
    font-weight: 600;
}

/* banner */

.banner{
    align-items: center;
    justify-content: space-between;
}

.bg-black{
    background-color: black;
}

main{
    background-image: linear-gradient(rgba(255, 255, 255, 0.479), rgba(250, 254, 1, 0.356)), url(../assets/bg.png);
    
}

/* standard */

 .Standard-header{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.box-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.box{
    border: 2px solid whitesmoke;
    border-radius: 18.86px;
    padding: 28px;
    width: 70%;
    margin-left: 35px;
    box-shadow: 0 0 28.3px 0.094px rgba(0, 0, 0, 0.05) ;
}

.mark-container{
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 20px;
}
.mark{
    border: none;
    border-radius: 50%;
    padding: 10px;
    background-color: orange;
}

/* stories */
.story-container{
    display: flex;
    gap: 20px;
}

.story{
    width: 50%;
    /* border: 2px dashed blue; */
}

.big-story{
    border-radius: 8px;
    border: 2px solid black;
    background-color: white;
    align-items: center; 
}

.big-story-description{
      margin: 10px 0 10px 20px;
      /* border: 2px dashed red; */
      width: 70%;
}

.small-stories{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.small-story{
    border: 2px solid black;
    text-align: center;
    border-radius: 8px;
    background-color: white;
}
.small-story img, .big-story img{
    width: 100%;
}
.last-btn{
     /* border: 2px dashed red; */
     text-align: center;
     margin-top: 50px;
}
footer{
    background-color:  rgba(1, 172, 253, 1);
    height: 600px;
    color: white;
}
/* footer */
.footer-container{
    /* margin-top: 20px; */
}
.footer-container>div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* border: 2px dashed red; */
    /* width: 75%; */
     padding: 70px;
}

/* responsive for mobile device */
@media screen and (max-width:576px) {
    .link, .first-btn{
        display: none;
     }
    .banner{
        display: flex;
        flex-direction: column-reverse;
        /* border: 2px solid red; */
        text-align: center;
        /* margin-left: 60px; */
        width: 100%;
    }
    .banner-img img{
        width: 100%;
    }
    .box-container{
        grid-template-columns: repeat(1,1fr);
        margin-right: 70px;
    }
    .box{
        width: 100%;
    }
    .big-story{
        display: none;
    }
    .small-stories{
        grid-template-columns: repeat(2,1fr);
        width: 100%;
    }
    .footer-container>div{
        grid-template-columns: repeat(1,1fr);
    }
    .footer-container{
        /* border: 20px solid black; */
    }
    .footer3{
        position: relative;
    }
    .footer3 img{
        height: 20px; 
        width: 20px;
        position: relative;
        bottom: 10px;
    }
}
